/* COLOR PALETTE
Dodger Blue: #279AF1
Maximum Yellow Red: #FFC759
Old Lavender: #766C7F
Rich Black FOGRA 39: #080708 */


.App {
  text-align: center;
  background: #279AF1;
}

.nav-bar-logo {
  width: 75px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
